.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf7f3;
  padding: 100px 110px;
}

/* Box */
.auth-box {
  background: #fff;
  padding: 50px 60px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Brand */
.brand {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #2c2c2c;
}

.brand span {
  color: #b88c5c;
}

/* Titles */
.auth-box h2 {
  font-size: 20px;
  color: #222;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

/* Input Fields */
.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #b88c5c;
  box-shadow: 0 0 3px rgba(184, 140, 92, 0.4);
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #b88c5c;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: #a47a4e;
}

/* Toggle text */
.toggle-text {
  font-size: 14px;
  color: #555;
  margin-top: 18px;
}

.toggle-text span {
  color: #b88c5c;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-text span:hover {
  color: #a47a4e;
}
