.guestvoices {
  text-align: center;
  background-color: #fcf7f2;
  padding: 60px 40px;
}

.guestvoices-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2e2e2e;
  margin-bottom: 50px;
}

.guestvoices-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.guest-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: all 0.3s ease;
}

.guest-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
}

.guest-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2e2e2e;
}

.price {
  font-weight: 600;
  color: #a37b2c;
  margin: 10px 0;
  font-size: 0.95rem;
}

.desc {
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.guest-card ul {
  margin-left: 20px;
  color: #333;
  margin-bottom: 20px;
}

.guest-card button {
  background-color: #3a2a1e;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.guest-card button:hover {
  background-color: #6c522e;
}
