.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: white;
  color: #3a302a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

.logo {
  font-weight: 700;
  font-size: 2.4rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.suite{
  font-weight: 700;
  font-size: 2.4rem;
  color: #a07e48;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
  list-style: none;
  display: flex;
  gap: 30px;
  color: #8b6528;
}

.nav li {
  cursor: pointer;
  font-size: 1rem;
  color: #8b6528;
  transition: color 0.3s ease;
  font-size: 20px;
}

.nav :hover {
  color: #a57b32;
}

.book-btn {
  background-color: #a07e48;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.book-btn:hover {
  background-color: #8b6528;
  transform: translateY(-2px);
}
.link{
  color:#8b6528 ;
}